---
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: nginx-dply
spec:
  replicas: 6
  selector:
    matchLabels:
      env: prod
    matchExpressions:
    - { key: tier, operator: In, values: [frontend] }
  template:
    metadata:
      name: nginx
      labels: 
        env: prod
        tier: frontend
    spec:
      containers:
      - name: nginx-container
        image: nginx=1.21
        ports:
        - containerPort: 80
