apiVersion: v1
kind: Service
metadata:
  name: {{ include "tomcat_dependency_chart.fullname" . }}
  labels:
    {{- include "tomcat_dependency_chart.labels" . | nindent 4 }}
spec:
  type: {{ default .Values.service.type .Values.tomcat.service.type}}
  ports:
    - port: {{ default .Values.service.port .Values.tomcat.service.nodePort}}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "tomcat_dependency_chart.selectorLabels" . | nindent 4 }}
